%html
  %head
    %title Grand Theft Auto
    %link{:rel => 'stylesheet', :href => '/reset.css'}
    %link{:rel => 'stylesheet', :href => '/gta.css'}
    %script{:src => "raphael.js", :type => "text/javascript"}  
    %script{:src => "gta_in_svg.js", :type => "text/javascript"}  
  %body{:onload => "checkSupported();"}
